.card{
    height: 90%;
}

.botmsg{
    text-align: left;
    --ion-background-color: blueviolet !important;
    font-weight: bold;
}

.mymsg{
    text-align: right;
    --ion-background-color: #ffff00 !important;
    font-weight: bold;
}