<ion-header>
  <ion-toolbar>
    <ion-title>Otros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h1>Sugerencia</h1>
    <form [formGroup]="emailForm" (ngSubmit)="sendSuggestion()">

      <ion-item>
        <div>
          <h2>Nombre</h2>
          <ion-input formControlName="nombre" placeholder="Introduce tu nombre"></ion-input>
          <ion-label style="color: red; font-size: small;">*Opcional*</ion-label> 
        </div>
         
        
      </ion-item>
      <ion-item>
        <div>
          <h2>Sugerencia</h2>
          <ion-input type="textarea" formControlName="body" placeholder="Introduce tu sugerencia"></ion-input>
        </div>
      </ion-item>

      <div style="text-align: center;">
        <ion-button shape="round" type="submit" [disabled]="!this.emailForm.valid">Enviar</ion-button>
      </div>
    </form>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item (click)="switchShowExamples()">
        <ion-label>
          <h1>Ejemplos</h1>
          <p>Ejemplos de funciones:</p>
        </ion-label>
        <ion-icon *ngIf="showExample!==true"  style="text-align: end;" name="arrow-back"></ion-icon>
        <ion-icon *ngIf="showExample===true" style="text-align: end;" name="arrow-down"></ion-icon>
      </ion-item>

      <div *ngIf="showExample">
        <ion-row>
          <ion-col>
            <h4><b>Enciende la linterna</b> (activa la linterna del dispositivo)</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h4><b>Llévame a </b> (Te guia hacia una localización)</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h4><b>Qué es</b> (busca en el navegador predeterminado)</h4>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
